# ===== SERVER CONFIGURATION =====
PORT=3000
NODE_ENV=development

# ===== DATABASE CONFIGURATION (PostgreSQL) =====
# Use DATABASE_URL for PostgreSQL connection
DATABASE_URL=postgresql://username:password@host:5432/database_name
# Example for Render: postgresql://user:pass@host.render.com/dbname

# ===== JWT CONFIGURATION =====
JWT_SECRET=theliemsshose_secret_key_2026_very_secure_change_in_production
JWT_EXPIRES_IN=1h

#===== FRONT END URL =====
FRONTEND_URL=http://localhost:5173

#===== BYCRYPT CONFIG =====
BYCRYPT_SALT_ROUNDS=10