.history-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

/* HEADER */
.history-header {
  font-size: 20px;
  padding: 15px;
}

/* SUB HEADER */
.history-subheader {
  font-size: 16px;
  padding: 10px;
}

/* LIST */
.history-item {
  display: flex;
  flex-direction: column; /* MOBILE */
  padding: 10px;
  gap: 10px;
  height: auto;
}

/* SUBJECT */
.history-subject {
  font-size: 16px;
  text-align: left;
}

/* BUTTON */
.history-btn {
  width: 100%;
  height: 40px;
  font-size: 14px;
}

/* DESKTOP */
@media (min-width: 768px) {
  .history-item {
    flex-direction: row;
    align-items: center;
    height: 70px;
  }

  .history-btn {
    width: 200px;
    height: 100%;
  }

  .history-subject {
    text-align: center;
  }
}